<!------------------ homework1 ------------------------>
<!--<div class="login_Page">
  <div class="form">
    <div class="form-group">
      <input type="text" class="form-control"  placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control"  placeholder="Password">
    </div>
    <button type="button" class="btn btn-primary btn-dark btn-block">LOGIN</button>
    <p class="text-black-50">
      Not registered? <a href="#">Create an account</a>
    </p>
  </div>
</div>-->



<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>











<!--<div>这是我主页</div>
<hr>
<app-server> 我是一个倒入的 component</app-server>-->

<!--
<div>
  bird
</div>
<div>
  see what's happening in the world
</div>
<div>
  join twitter today
</div>
<div style="background-color: aquamarine">
  <button class="btn-primary"> Sign Up </button>
</div>
<div>
  <button class="btn-secondary" style="color: mediumvioletred"> Log In </button>
</div>
-->

<!--define a block with fixed size-->
<div>
<!--
  <div id="main" style="width: 500px; height: 500px; border-top: 5px red solid; border-bottom: 5px red solid;
border-left: 5px red solid; border-right: 5px red solid">
    this is 1st block
  </div>

  <div style="width: 500px; height: 500px; border-top: 5px red solid; border-bottom: 5px red solid;
border-left: 5px red solid; border-right: 5px red solid">
    this is 2nd block
  </div>
-->

</div>

<!--<div style="margin-left: 50px; width: 500px; height: 500px; border-top: 5px red solid; border-bottom: 5px red solid;
border-left: 5px red solid; border-right: 5px red solid">
  this is a block
</div>-->

<!--<div class="simple" style=" padding-left: 50px; padding-top: 50px; border-top: 5px red solid; border-bottom: 5px red solid;
border-left: 5px red solid; border-right: 5px red solid"> this is simple block </div>
<div class="fancy" style=" border-top: 5px red solid; border-bottom: 5px red solid;
border-left: 5px red solid; border-right: 5px red solid"> this is fancy block </div>-->

<!--<div class="relative" style=" padding-left: 50px; padding-top: 50px; border-top: 5px red solid; border-bottom: 5px red solid;
border-left: 5px red solid; border-right: 5px red solid"> this is relative block </div>
<div class="absolute" style=" border-top: 5px red solid; border-bottom: 5px red solid;
border-left: 5px red solid; border-right: 5px red solid"> this is absolute block </div>-->

<!--<div style="position:relative;">
  <div style=" width: 300px; height: 300px; border-top: 5px red solid; border-bottom: 5px red solid;
border-left: 5px red solid; border-right: 5px red solid">
    this is red block </div>
  <div style=" width: 300px; height: 300px; border-top: 5px green solid; border-bottom: 5px green solid;
border-left: 5px green solid; border-right: 5px green solid">
    this is green block </div>
</div>-->

<!--<div style=" position: absolute; top: 1000px; width: 300px; height: 300px; border-top: 5px red solid; border-bottom: 5px red solid;
border-left: 5px red solid; border-right: 5px red solid">
  this is red block </div>
<div style=" position: relative; top: 1000px; width: 300px; height: 300px; border-top: 5px green solid; border-bottom: 5px green solid;
border-left: 5px green solid; border-right: 5px green solid">
  this is green block </div>-->

<!--<div class="borderRed">
  this is red block
  <div class="borderGreen">
    this is green block
  </div>

  <div style=" position: absolute; top: 1000px; width: 300px; height: 300px; border-top: 5px red solid; border-bottom: 5px red solid;
border-left: 5px red solid; border-right: 5px red solid">
    this is red block </div>
  <div style=" position: relative; top: 1000px; width: 300px; height: 300px; border-top: 5px green solid; border-bottom: 5px green solid;
border-left: 5px green solid; border-right: 5px green solid">
    this is green block </div>
</div>-->

<!--<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>-->

<!--<div class="container">
  <nav>
    <div>
      Home
    </div>
    <div>
      Taco Menu
    </div>
    <div>
      Draft List
    </div>
  </nav>

  <section>
    <div class="box">
    </div>
    section margin-left make sure the room space is enough for nav
  </section>
  <section>
    <div class="box">
    </div>
    atetaerahefasdhfudasehuiwehjvajrtjh
  </section>
  <section>
    <div class="box">
    </div>
    <div class="box">
    </div>
  </section>
</div>-->



