

<!--<hr>
<h4>This is a counter</h4>
<p> {{ counter }} </p>
<button class="btn btn-primary" (click)="counterPlus()" style="margin-right: 10px"> Add One</button>
<button class="btn btn-primary" (click)="resetCounter()"> Reset Counter</button>-->

</div>
<div>
  <span> EGG </span>
  <p> {{ usrInput.egg }} </p>
  <button class="btn btn-secondary" (click)="counterPlus('egg')" style="margin-right: 50px"> Add One</button>
  <button class="btn btn-secondary" (click)="resetCounter('egg')"> Reset</button>
</div>

<div>
  <span> FLOUR </span>
  <p> {{ usrInput.flour }} </p>
  <button class="btn btn-secondary" (click)="counterPlus('flour')" style="margin-right: 50px"> Add One</button>
  <button class="btn btn-secondary" (click)="resetCounter('flour')"> Reset</button>
</div>

<div>
  <span> MILK </span>
  <p> {{ usrInput.milk }} </p>
  <button class="btn btn-secondary" (click)="counterPlus('milk')" style="margin-right: 50px"> Add One</button>
  <button class="btn btn-secondary" (click)="resetCounter('milk')"> Reset</button>
</div>

<hr>
<div>
  <span> Other Ingredient <input type="text" [(ngModel)]="ingredient">  </span>
</div>

<hr>
<button class="btn btn-primary" (click)="submit()" style="margin-right: 50px"> Guess </button>


<div *ngIf="isMatch" class="informBoxBoarder"> You made {{ recipeName }}</div>




<!--<div *ngIf="isLogin" class="informBoxBoarder"> You Loggedin as {{ userName }} </div>
<button class="btn btn-light" (click)="login()" style="margin-right: 10px"> Login </button>
<button class="btn btn-light" (click)="signOut()"> Sign Out </button>-->



<!--<hr>
<h4> Challenge Levels & Puzzels </h4>
<div *ngFor="let student of students">
  <div style="margin-bottom: 2px;border-left: solid 2px; border-right: solid 2px; border-bottom: solid 2px; border-top: solid 2px; display: flex; justify-content: space-between">
    <div><span style="color: cornflowerblue; margin-right: 5px">Student Name: </span> <span> {{ student.name }}</span></div>

    <div><span style="color: cornflowerblue; margin-right: 5px;">Student Major: </span> <span>{{ student.major }}</span></div>
  </div>
</div>-->
